body {
    font-family: "Open Sans", sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.brand {
    font-family: "Cormorant Upright", serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffc107;  
}


.nav-link:hover {
    color: #ffc107 !important;
}

.heading{
   color:  #DCCA87;
} 


.light {
    color: #F5F4FA;
}

.thin {
    font-weight: 300;
}


.working {
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 175%; 
letter-spacing: 0.64px;
color: #F5F4FA;
}



.dark-bg {
    background-color:#343a40;
    
}

.main-bg {
    /* background-color: #F9FAFC; */
    background-color: #F5F4FA;
    background-color: #0C0B08;

}
