{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <div class="row p-5 align-items-center">
        <div class="col">
            <p class="text fs-2">{{ about.title}}</p>
            <p class="text-white text-center fs-2">{{ about.content}}</p>
            
                <p class="founder">{{about.author}}</p>
            <p class="text-muted">{{about.position}}</p>
            
            
        </div>
        <div  class="col d-none d-md-block col-md-6 thumb" >
            <img src="{% static 'images/restaurant.jpg' %}" alt="Bar" >
        </div>   
        
       
    </div>
    
</div>


{% endblock %}